:root {
  //fonts
  --bw-ff-inter: 'Inter', -apple-system, BlinkMacSystemFont, San Francisco,
    Segoe UI, Roboto, Helvetica Neue, sans-serif;
  --bw-bw-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  //font sizes
  --bw-fs-8: 0.8rem;
  --bw-fs-10: 1rem;
  --bw-fs-12: 1.2rem;
  --bw-fs-13: 1.3rem;
  --bw-fs-14: 1.4rem;
  --bw-fs-16: 1.6rem;
  --bw-fs-18: 1.8rem;
  --bw-fs-20: 2rem;
  --bw-fs-25: 2.5rem;
  --bw-fs-31: 3.1rem;
  --bw-fs-39: 3.9rem;
  --bw-fs-48: 4.8rem;

  //font weights
  --bw-medium-weight: 500;
  --bw-bold-weight: bold;
}
